body{
  text-align: center;
  background: rgb(97, 97, 97);
  color: white;
  justify-content: center;
}

p::first-letter{
  font-size: 200%;
}

.outer-div{
  background: rgb(97, 97, 97);
  border-radius: 30px;
  position: relative;
  height: 500px;
}

.inner-div{
  background: white;
  border-radius: 30px;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
}

.innertop{
  height: 40%;
  width: 100%;
  position: absolute;
}


.innermid{
  top: 40%;
  width: 100%;
  height: 40%;
  position: absolute;
}

.el{
  top: 35%;
  display: inline-block;
  width: 80px;
  text-align: center;
  font-size: 400%;
  border: 1px solid;
  border-radius: 4px;
  padding: 1px;
}

.black{
  background: black;
  color:white;
}

.white{
  background: white;
  color:black;
}

.grey{
  background: grey;
  color:white;
}

.head{
  top: 0%;
  background: grey;
  display: inline-block;
  width: 10%;
  height: 100%;
  text-align: center;
  font-size: 400%;
  border: 1px solid;
  border-radius: 4px;
  padding: 1px;
}
