body{
  text-align: center;
  background: rgb(97, 97, 97);
  color: white;
  justify-content: center;
}

p::first-letter{
  font-size: 200%;
}

.el{
  background: grey;
  height: 90%;
  width: 100px;
  text-align: center;
  /*vertical-align: middle;*/
  font-size: 200%;
  position: relative;
  float: left;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px; 
}

.outer-div{
  background: rgb(97, 97, 97);
  border-radius: 30px;
  text-align: center;
  height: 500px;
}

.inner-div{
  background: white;
  display:inline-block;
  border-radius: 30px;
  position: relative;
  width: 95%;
  height: 95%;  
}


.inner{
  height: 33.3%;  
}

.black{background: black  }

.white{background: grey	}
